In [1]:
import pandas as pd

# Limpiando Data

In [2]:
df_historical_data = pd.read_csv("worldcup_historical_data.csv")
df_fixture = pd.read_csv("worldcup_fixture.csv")
df_final_data = pd.read_csv("wolrdcup_final_data.csv")

In [3]:
df_fixture['home'] = df_fixture['home'].str.strip()
#eliminando espacios en blanco en str
df_fixture['away'] = df_fixture['away'].str.strip()

In [4]:
df_final_data[df_final_data['home'].isnull()]
#verificando que no hayan datos faltantes

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [5]:
data = pd.concat([df_historical_data, df_final_data], ignore_index=True)

In [6]:
data.drop_duplicates(inplace=True)
data.sort_values('year', inplace=True)
#eliminando duplicados y ordenando por año

## Arreglo del DataFrame

In [7]:
index_drop = data[data['home'].str.contains("Sweden") & data['away'].str.contains("Austria")].index
data.drop(index=index_drop, inplace=True)

In [8]:
data[data['home'].str.contains("Senegal")]

         home              score       away  year
604  Senegal   0–1 (a.e.t./g.g.)     Turkey  2002
550  Senegal                 3–3    Uruguay  2002
848  Senegal                 0–1   Colombia  2018

In [13]:
data['score'] = data['score'].str.strip()

In [19]:
#encontrar todo lo que no sea un digito o (–) y reemplazarlo.

#data[data['score'].str.contains(r'[^\d\–]', regex=True)] VERIFICANDO


data['score'] = data['score'].str.replace(r'[^\d\–]', '', regex=True)

In [20]:
data[data['score'].str.contains(r'[^\d\–]', regex=True)] #VERIFICANDO

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [21]:
data['home'] = data['home'].str.strip()
#limpiando espacios en blanco en str/texto
data['away'] = data['away'].str.strip()

In [23]:
#separando los goles de cada equipo en columnas diferentes
data[['HomeGoals', 'AwayGoals']] = data['score'].str.split('–', expand=True)

In [26]:
data.drop('score', axis=1, inplace=True) #eliminando la columna score q ya no es necesaria

In [28]:
data.rename(columns={'home': 'HomeTeam', 'away': 'AwayTeam', 'year': 'Year'}, inplace=True)

In [37]:
 
data = data.astype({'HomeGoals': 'int64', 'AwayGoals': 'int64'})

renombrando las columnas, y cambiando los tipos de datos de HomeGoals y AwayGoals a int64

In [38]:
data.dtypes

HomeTeam     object
AwayTeam     object
Year          int64
HomeGoals     int64
AwayGoals     int64
dtype: object

In [39]:
data.to_csv("clean_worldcup_data.csv", index=False)
df_fixture.to_csv("clean_worldcup_fixture.csv", index=False)

In [41]:
#comprobar si se elimino data de mas corroborando numero de partidos x año
mundial_years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 
                 1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006,
                 2010, 2014, 2018]
for year in mundial_years:
    print(year, len(data[data['Year']==year]))
len(mundial_years)

1930 19
1934 18
1938 18
1950 23
1954 26
1958 36
1962 33
1966 33
1970 33
1974 39
1978 39
1982 53
1986 53
1990 16
1994 53
1998 64
2002 65
2006 65
2010 64
2014 64
2018 64

21